.Cards__hero {
  width: 100%;
  padding: 2rem 0;
  background: #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.Cards_eventlogo {
  max-width: 250px;
}

.Cards__hero > .Cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cards__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Cards_conf-logo {
  margin-bottom: 2rem;
  max-width: 250px;
}

.Cards__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
